@import '~bootstrap/dist/css/bootstrap.css';

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* LOGIN PAGE CSS---------------STARTS--------------------- */
.login_block {
  min-width: 288px;
  margin: auto;
  width: 500px;
  height: 300px;
  border: 1px solid #d4d4d5;
  border-radius: 4px;
}

.login_block__main {

}

.login_form__select {
  height: 40px;
  width: 100%;
  background: transparent;
  border-radius: 4px;
  border: 1px solid gray;
}

.login_form__btn {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  background: #21ba45;
  color: #fff;
  border: none;
}

.game_title {
  background: #f3f4f5;
  height: 100px;
}

.login_form {
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
}

.disable_btn {
  cursor: none;
  opacity: 0.6;
}
/* LOGIN PAGE CSS---------------EBDS----------------------- */