@import '~bootstrap/dist/css/bootstrap.css';

html, body, #root {
  height: 100%;
}

a {
  color: #000;
  font-weight: 400;
}

a:hover {
  color: #000;
  font-weight: 800;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* LOGIN PAGE CSS---------------STARTS--------------------- */
.login_block {
  min-width: 288px;
  margin: auto;
  width: 500px;
  height: 300px;
  border: 1px solid #d4d4d5;
  border-radius: 4px;
}

.login_block__main {

}

.login_form__select {
  height: 40px;
  width: 100%;
  background: transparent;
  border-radius: 4px;
  border: 1px solid gray;
}

.login_form__btn {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  background: #21ba45;
  color: #fff;
  border: none;
}

.game_title {
  background: #f3f4f5;
  height: 100px;
}

.login_form {
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
}

.disable_btn {
  cursor: none;
  opacity: 0.6;
}
/* LOGIN PAGE CSS---------------EBDS----------------------- */
.new-poll {
  margin: auto;
  min-width: 288px;
  max-width: 500px;
  background: #f3f4f5;
  border-radius: 4px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-poll__Q {
  height: 40px;
  border: none;
  border-radius: 4px;
  padding-left: 10px;
  min-width: 260px;
}

.new-poll__btn {
    margin: auto;
    height: 40px;
    width: 260px;
    border: none;
    border-radius: 4px;
   color: #fff;
    /* background: #f3f4f5; */
}

.active-btn {
  background: #21ba45;
}

.deactive {
  background: #f3f4f5;
}